.u-section-1 .u-sheet-1 {
  min-height: 4487px;
}

.u-section-1 .u-group-1 {
  min-height: 48px;
  height: auto;
  width: 1000px;
  margin: 150px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 60px;
  height: auto;
  width: 1000px;
  margin: 32px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2px 299px 0 0;
}

.u-section-1 .u-group-3 {
  width: 982px;
  min-height: 1263px;
  height: auto;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 631px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1261px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/31.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/52.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/4.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 342px;
  min-height: 413px;
  height: auto;
  background-image: url("images/MockUp1.jpg");
  background-position: 50% 50%;
  background-size: auto 152%;
  margin: -1261px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 50px 0 0 158px;
}

.u-section-1 .u-group-5 {
  width: 982px;
  min-height: 1264px;
  height: auto;
  margin: 33px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 631px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1261px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/11.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/3.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  background-image: url("images/51.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 342px;
  min-height: 413px;
  height: auto;
  background-image: url("images/12.png");
  background-position: 50% 50%;
  background-size: auto 113%;
  margin: -1261px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  min-height: 32px;
  height: auto;
  width: 1008px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 2px 518px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 990px;
  margin: 33px 0 60px auto;
}

.u-section-1 .u-image-9 {
  min-height: 1133px;
  background-image: url("images/Untitleddesign46.png");
  background-size: 107%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4515px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-right: 239px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 33px;
    min-height: 1214px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 588px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1208px;
  }

  .u-section-1 .u-image-4 {
    min-height: 396px;
    margin-top: -1208px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 1252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-list-2 {
    width: 588px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 1251px;
  }

  .u-section-1 .u-image-8 {
    min-height: 407px;
    margin-top: -1250px;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    background-size: auto 107%;
    min-height: 1076px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3298px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-top: 102px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-group-3 {
    min-height: 763px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 368px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 762px;
  }

  .u-section-1 .u-image-4 {
    min-height: 505px;
    margin-top: -762px;
  }

  .u-section-1 .u-group-5 {
    min-height: 772px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    width: 368px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 771px;
  }

  .u-section-1 .u-image-8 {
    background-size: cover;
    min-height: 509px;
    margin-top: -771px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 482px;
  }

  .u-section-1 .u-image-9 {
    background-size: 107%;
    min-height: 824px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3972px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-group-5 {
    margin-top: -1530px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 302px;
  }

  .u-section-1 .u-image-9 {
    min-height: 618px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3640px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    width: auto;
    margin-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 51px;
    min-height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 1034px;
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 425px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 712px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1132px;
    min-height: 411px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 150px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 33px;
    min-height: 907px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    margin-top: 423px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 746px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -1169px;
    min-height: 413px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 312px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    min-height: 389px;
  }
}