.u-section-1 .u-sheet-1 {
  min-height: 3242px;
}

.u-section-1 .u-group-1 {
  min-height: 80px;
  height: auto;
  width: 1000px;
  margin: 168px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 0.8;
  margin: 2px 288px 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 53px;
  height: auto;
  width: 1000px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2px 574px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  margin: 0 574px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1000px;
  margin: 31px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 339px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/OrdinationFront.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/OrdinationBack.jpg");
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/DiaconalOrdinationFrontcopy2.jpg");
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/DiaconalOrdinationBackcopy2.jpg");
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-group-3 {
  min-height: 51px;
  height: auto;
  width: 1000px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 574px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  margin: 0 574px 0 0;
}

.u-section-1 .u-list-2 {
  width: 1000px;
  margin: 31px 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 1174px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/Stampita-MabutingPastol-Front.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/Stampita-MabutingPastol-Back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/Stampita-Front.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-8 {
  background-image: url("images/Stampita-Back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-9 {
  background-image: url("images/Stampita-SanJose-Front.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-10 {
  background-image: url("images/Stampita-SanJose-Back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-11 {
  background-image: url("images/Stampita-Candelaria-Front.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-12 {
  background-image: url("images/Stampita-Candelaria-Back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-13 {
  background-image: url("images/Stampita1F.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-14 {
  background-image: url("images/Stampita1B.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-15 {
  background-image: url("images/Stampita2F.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-image-16 {
  background-image: url("images/Stampita2B.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 10px 7px;
}

.u-section-1 .u-group-4 {
  min-height: 29px;
  height: auto;
  width: 1000px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 574px 0 0;
}

.u-section-1 .u-list-3 {
  width: 1000px;
  margin: 30px 0 60px auto;
}

.u-section-1 .u-repeater-3 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 907px;
}

.u-section-1 .u-image-17 {
  background-image: url("images/Tarp1copy.jpg");
}

.u-section-1 .u-container-layout-21 {
  padding: 10px 0;
}

.u-section-1 .u-image-18 {
  background-image: url("images/MainTarp1copy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3133px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 169px;
    min-height: 81px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 228px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-right: 514px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 514px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 319px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 4px;
    margin-right: 514px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 514px;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1155px;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-20 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 514px;
  }

  .u-section-1 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
    min-height: 848px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5934px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 166px;
    min-height: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 294px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1018px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 294px;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 3418px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 294px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 114px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 114px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-6 {
    margin-right: 114px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9459px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 1933px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 6425px;
  }

  .u-section-1 .u-group-4 {
    min-height: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-list-3 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 335px;
  }
}