.u-section-1 .u-sheet-1 {
  min-height: 236px;
}

.u-section-1 .u-text-1 {
  line-height: 0.99;
  font-size: 1.375rem;
  font-weight: 600;
  width: 339px;
  margin: 96px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 3873px;
}

.u-section-2 .u-video-1 {
  width: 811px;
  height: 495px;
  margin: 1px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-poster-1 {
  background-image: url("images/04.jpg");
}

.u-section-2 .u-group-1 {
  width: 288px;
  height: auto;
  min-height: 187px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -222px 55px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0 11px;
}

.u-section-2 .u-video-2 {
  width: 811px;
  height: 495px;
  margin: 185px auto 0 165px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-video-poster-2 {
  background-image: url("images/486276716_1079344300894770_4609599615526108252_n.jpg");
  background-size: 125%;
}

.u-section-2 .u-group-2 {
  width: 288px;
  height: auto;
  min-height: 187px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -214px auto 0 55px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 11px 0 10px;
}

.u-section-2 .u-video-3 {
  width: 811px;
  height: 495px;
  margin: 177px auto 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-video-poster-3 {
  background-image: url("images/07.jpg");
}

.u-section-2 .u-group-3 {
  width: 288px;
  height: auto;
  min-height: 187px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -222px auto 0 797px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 16px 11px 0;
}

.u-section-2 .u-video-4 {
  width: 811px;
  height: 495px;
  margin: 185px auto 0;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-video-poster-4 {
  background-image: url("images/495151977_998946979054991_1675066159598076925_n.jpg");
}

.u-section-2 .u-group-4 {
  width: 288px;
  height: auto;
  min-height: 198px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -222px auto 0 55px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0 12px;
}

.u-section-2 .u-video-5 {
  width: 811px;
  height: 495px;
  margin: 177px auto 0;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-video-poster-5 {
  background-image: url("images/09.jpg");
  background-size: 115%;
}

.u-section-2 .u-group-5 {
  width: 288px;
  height: auto;
  min-height: 187px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -214px 55px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 16px auto 0 11px;
}

.u-section-2 .u-image-1 {
  width: 811px;
  height: 541px;
  background-size: auto 197%;
  margin: 177px auto 0;
}

.u-section-2 .u-group-6 {
  width: 288px;
  height: auto;
  min-height: 187px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -222px auto 60px 55px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 16px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-video-2 {
    margin-left: auto;
  }

  .u-section-2 .u-video-poster-2 {
    background-size: 120%;
  }

  .u-section-2 .u-group-2 {
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    margin-left: 652px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: -229px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-2 .u-video-5 {
    margin-top: 184px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 625px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-6 {
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3911px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 439px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -94px;
    margin-right: 50px;
  }

  .u-section-2 .u-video-2 {
    width: 720px;
    height: 439px;
    margin-top: 113px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -94px;
    margin-left: 50px;
  }

  .u-section-2 .u-video-3 {
    width: 720px;
    height: 439px;
    margin-top: 113px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -86px;
    margin-right: 49px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-video-4 {
    width: 720px;
    height: 439px;
    margin-top: 105px;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: -94px;
    margin-left: 50px;
  }

  .u-section-2 .u-video-5 {
    width: 720px;
    height: 439px;
    margin-top: 105px;
    margin-right: 0;
  }

  .u-section-2 .u-group-5 {
    margin-top: -86px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 480px;
    margin-top: 105px;
  }

  .u-section-2 .u-group-6 {
    margin-top: -94px;
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3749px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 329px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 16px;
  }

  .u-section-2 .u-video-2 {
    width: 540px;
    height: 329px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-video-3 {
    width: 540px;
    height: 329px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 24px;
  }

  .u-section-2 .u-video-4 {
    width: 540px;
    height: 329px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 16px;
  }

  .u-section-2 .u-video-5 {
    width: 540px;
    height: 329px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-2 .u-group-6 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2618px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 207px;
  }

  .u-section-2 .u-group-1 {
    width: 169px;
    min-height: 112px;
    margin-top: -21px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-video-2 {
    height: 207px;
    margin-top: 120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    width: 169px;
    min-height: 112px;
    margin-top: -21px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    font-weight: 700;
    width: auto;
    margin-top: 0;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-video-3 {
    height: 207px;
    margin-top: 120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-3 {
    width: 169px;
    min-height: 112px;
    margin-top: -22px;
    margin-right: auto;
    margin-left: 141px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-video-4 {
    height: 207px;
    margin-top: 120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-4 {
    width: 169px;
    min-height: 122px;
    margin-top: -21px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-video-5 {
    height: 207px;
    margin-top: 120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-5 {
    width: 169px;
    min-height: 114px;
    margin-top: -22px;
    margin-right: auto;
    margin-left: 141px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-1 {
    height: 227px;
    margin-top: 120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-6 {
    width: 169px;
    min-height: 112px;
    margin-top: -22px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
  }
} .u-section-3 {
  min-height: 271px;
}

.u-section-3 .u-line-1 {
  top: 0;
  position: absolute;
  transform-origin: left center;
}

.u-section-3 .u-image-1 {
  width: 324px;
  height: 75px;
  margin: 28px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
  width: 606px;
  margin: 19px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    left: auto;
    width: 1054px;
    right: -14px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 54px;
    margin-left: calc(((100% - 940px) / 2)  + 408px);
  }

  .u-section-3 .u-text-1 {
    margin: -152px calc(((100% - 940px) / 2)  + 167px) 60px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 251px;
  }

  .u-section-3 .u-line-1 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin: 18px auto 58px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 276px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 0;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2)  + 216px);
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 321px;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2)  + 16px);
  }

  .u-section-3 .u-text-1 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
  }
}