.u-section-1 .u-sheet-1 {
  min-height: 4913px;
}

.u-section-1 .u-group-1 {
  min-height: 117px;
  height: auto;
  width: 988px;
  margin: 150px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 2px 567px 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 60px;
  height: auto;
  width: 1000px;
  margin: 50px -12px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2px 314px 0 0;
}

.u-section-1 .u-group-3 {
  width: 988px;
  min-height: 1268px;
  height: auto;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 631px;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1261px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/1.png");
  background-size: 112%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/5.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/6.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 347px;
  min-height: 413px;
  height: auto;
  background-image: url("images/TMPMockup1.jpg");
  background-size: auto 166%;
  background-position: 50% 50%;
  margin: -1262px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 50px 0 0 152px;
}

.u-section-1 .u-group-5 {
  width: 988px;
  min-height: 1370px;
  height: auto;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 631px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1370px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/13.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/21.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  background-image: url("images/33.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 347px;
  min-height: 449px;
  height: auto;
  background-image: url("images/32.png");
  background-size: auto 119%;
  background-position: 50% 50%;
  margin: -1369px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 50px 0 0 152px;
}

.u-section-1 .u-group-7 {
  width: 988px;
  min-height: 1370px;
  height: auto;
  margin: 33px 0 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-list-3 {
  width: 631px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-3 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1370px;
}

.u-section-1 .u-image-9 {
  background-image: url("images/16.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  background-image: url("images/22.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  background-image: url("images/34.png");
  background-size: 112%;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  width: 348px;
  min-height: 450px;
  height: auto;
  background-image: url("images/2.png");
  background-size: auto 119%;
  background-position: 50% 50%;
  margin: -1370px auto 60px 152px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 519px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-right: 254px;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-4 {
    width: 299px;
    background-size: auto 154%;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-8 {
    width: 299px;
    background-position: 52.27% 48.44%;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-12 {
    background-position: 52.26% 50%;
    width: 300px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3581px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 299px;
  }

  .u-section-1 .u-group-2 {
    min-height: 62px;
    width: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 34px;
  }

  .u-section-1 .u-group-3 {
    min-height: 855px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 411px;
    margin-top: -1px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 856px;
  }

  .u-section-1 .u-image-4 {
    min-height: 277px;
    margin-top: -855px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-1 .u-group-5 {
    min-height: 906px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-2 {
    width: 411px;
    margin-top: -1px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 906px;
  }

  .u-section-1 .u-image-8 {
    min-height: 294px;
    background-size: 119%;
    margin-top: -905px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-group-7 {
    min-height: 893px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-3 {
    width: 411px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 892px;
  }

  .u-section-1 .u-image-12 {
    background-size: 119%;
    min-height: 291px;
    margin-top: -893px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-right: 119px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4066px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-3 {
    min-height: 723px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 702px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -989px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 326px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    margin-top: 286px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 752px;
  }

  .u-section-1 .u-image-8 {
    min-height: 276px;
    margin-top: -1038px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 180px;
  }

  .u-section-1 .u-group-7 {
    min-height: 1041px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
  }

  .u-section-1 .u-list-3 {
    margin-top: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 756px;
  }

  .u-section-1 .u-image-12 {
    min-height: 275px;
    margin-top: -1041px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}