.u-section-1 .u-sheet-1 {
  min-height: 2588px;
}

.u-section-1 .u-group-1 {
  min-height: 48px;
  height: auto;
  width: 1000px;
  margin: 150px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 32px;
  height: auto;
  width: 1000px;
  margin: 22px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1000px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1000px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 333px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 333px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 333px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  min-height: 32px;
  height: auto;
  width: 1000px;
  margin: 32px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 1000px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 32px;
  height: auto;
  width: 1008px;
  margin: 31px 0 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-layout-wrap-4 {
  width: 1000px;
  margin: 10px 0 33px auto;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px;
}

.u-section-1 .u-image-12 {
  height: 635px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px;
}

.u-section-1 .u-image-13 {
  height: 636px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2606px;
  }

  .u-section-1 .u-group-1 {
    min-height: 45px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-group-2 {
    min-height: 40px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 235px;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 235px;
  }

  .u-section-1 .u-image-4 {
    width: 215px;
    height: 215px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 313px;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 313px;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 313px;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-group-3 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 235px;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 235px;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 235px;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 235px;
  }

  .u-section-1 .u-image-11 {
    width: 215px;
    height: 215px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 638px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 646px;
  }

  .u-section-1 .u-image-12 {
    height: 626px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 617px;
  }

  .u-section-1 .u-image-13 {
    height: 597px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3215px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 360px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 360px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 418px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 496px;
  }

  .u-section-1 .u-image-12 {
    height: 476px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 474px;
  }

  .u-section-1 .u-image-13 {
    height: 454px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5619px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 238px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 372px;
  }

  .u-section-1 .u-image-12 {
    height: 354px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 356px;
  }

  .u-section-1 .u-image-13 {
    height: 337px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4645px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 340px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 340px;
  }

  .u-section-1 .u-image-11 {
    height: 320px;
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 38px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 234px;
  }

  .u-section-1 .u-image-12 {
    height: 218px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 224px;
  }

  .u-section-1 .u-image-13 {
    height: 207px;
  }
}